<div class="container">
  <div class="row mt-2">
    <div class="col-sm-6">
        <h3>{{user?.userName}}</h3>
        <h5>{{user?.income}}</h5>
        <ul>
            <li *ngFor="let wish of user?.userWishes">
                <a href="{{wish.urlToShop}}">{{wish.name}}</a> - {{wish.cost}}
            </li>
        </ul>
        <button (click)="edit()" type="submit" class="btn btn-primary">Edit</button>
    </div>
    <div class="col-sm-6">
        <form *ngIf="loggedIn()" #addWishForm="ngForm" (ngSubmit)="addWish()">
            <div class="form-group">
                <label>Wish Name:</label>
                <input type="text" class="form-control" name="name" [(ngModel)]="model.Name" placeholder="Name">
            </div>
            <div class="form-group">
                <label>Wish Description:</label>
                <textarea type="text" class="form-control" name="WishDescription" [(ngModel)]="model.WishDescription" placeholder="Name"></textarea>
            </div>
            <div class="form-group">
                <label>Url to Item:</label>
                <input type="text" class="form-control" name="urlToShop" [(ngModel)]="model.UrlToShop" placeholder="Url to Item">
            </div>
            <div class="form-group">
                <label>Cost:</label>
                <input type="number" class="form-control" name="cost" [(ngModel)]="model.Cost" placeholder="Cost">
            </div>
            <button [disabled]="!addWishForm.valid" type="submit" class="btn btn-primary">Submit</button>
        </form>
</div>
  </div>
</div>
